<?xml version="1.0"?>
<robot name="cleaner" xmlns:xacro="hattp://www.ros.org/wiki/xacro">

    <xacro:include filename="common.xacro"/>
    <xacro:include filename="mobile_base.xacro"/>

    <xacro:include filename="common_gazebo.xacro"/>
    <xacro:include filename="sensor_gazebo.xacro"/>
    <!-- <xacro:include filename="diff_drive_gazebo.xacro"/> -->
    <xacro:include filename="ros2_control_gazebo.xacro"/>

</robot>
